.about-block {
	display: flex;
	padding-top: 50px;
	margin-bottom: 70px;
}

.about-block__img {
	background: url("../imgs/team.png") no-repeat;
	min-width: 445px;
	min-height: 440px;
	margin-right: 30px;
}

.about-block__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 50px;
}

.about-block__title {
	font-size: 40px;
	line-height: 110%;
	margin-bottom: 20px;
}

.about-block__desc {
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 20px;
}

.about-block__avas {
	display: flex;
}

.about-block__ava {
	width: 80px;
	height: 80px;
	margin-right: 30px;
}

.about-block__ava_one {
	background: url("../imgs/ava1.png") no-repeat;
}

.about-block__ava_two {
	background: url("../imgs/ava2.png") no-repeat;
}

.about-block__ava_three {
	background: url("../imgs/ava3.png") no-repeat;
}