.promo-block {
	background: url("../imgs/promo-bg.png") no-repeat;
	width: 100%;
	min-height: 574px;
	padding-top: 70px;
	background-size: cover;
	margin-bottom: 20px;
}

.promo-wrapper {
	width: 55%;
}

.promo-top {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.promo-top__img {
	background-image: url("../imgs/Star\ 2.svg");
	min-width: 80px;
	height: 80px;
	margin-right: 20px;
}

.promo-top__title {
	color: rgb(244, 246, 245);
	font-size: 40px;
	line-height: 100%;
}

.promo-desc {
	color: rgb(255, 255, 255);
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 60px;
}

.promo-btn {
	padding: 20px 60px;
	font-size: 20px;
	line-height: 23px;
	background-color: rgb(238, 219, 109);
	border: none;

	&:hover {
		background-color: rgb(250, 235, 151);
	}
}

@media (max-width:1439px) {
	.promo-block {
		min-height: 540px;
		padding-top: 70px;
		background-size: cover;
	}

	.promo-wrapper {
		width: auto;
	}

	.promo-top__img {
		min-width: 60px;
		height: 60px;
		background-size: contain;
	}

	.promo-top__title {
		font-size: 30px;
	}

	.promo-top {
		margin-bottom: 30px;
	}

	.promo-desc {
		margin-bottom: 30px;
	}
}

@media (max-width:1015px) {
	.promo-block {
		min-height: 400px;
		background-size: contain;
		padding-top: 51px;
	}

	.promo-top__img {
		min-width: 50px;
		height: 50px;
	}

	.promo-top {
		margin-bottom: 21px;
	}

	.promo-top__title {
		font-size: 24px;
	}

	.promo-desc {
		font-size: 16px;
		line-height: 140%;
		margin-bottom: 20px;
	}

	.promo-btn {
		font-size: 18px;
		line-height: 21px;
	}
}

@media (max-width:570px) {
	.promo-block {
		min-height: 600px;
		background-size: cover;
	}

	.promo-desc {
		margin-bottom: 30px;
	}

	.promo-btn {
		width: 100%;
	}
}